<md-error *ngIf="corsWarning">
  <div>The feature does not currently due to CORS is not enbabled on the server.</div>
  <div>If you are using Chrome, consider installing a Chrome Extension to allow any Origin.</div>
  <div>Remember, doing so disabled a safety feature. Do at your own risk.</div>
</md-error>

<h3>{{ make }} {{ model }} {{ year }}</h3>

<md-card *ngFor="let recall of recalls" class="recalls-card">
  <md-card-header class="pull-right">
    <md-card-title>Campaign #</md-card-title>
    <md-card-subtitle>{{ recall.NHTSACampaignNumber }}</md-card-subtitle>
  </md-card-header>
  <md-card-content>
      <div *ngFor="let p of recallProperties"> 
        <h4>{{p.label}}</h4>
        <p>{{ recall[p.prop] || "Not Applicable" }}</p>
      </div>
  </md-card-content>
</md-card>