<table class="pull-right" cellspacing="0">
  <tr>
    <td td *ngIf="makes.length || make">
       <app-autocomplete [value]="year" placeholder="Year" [options]="years" (onSelected)="onYearSelected($event)"></app-autocomplete>
    </td>
    <td *ngIf="makes.length || make">
      <app-autocomplete [value]="make" placeholder="Make" [options]="makes" (onSelected)="onMakeSelected($event)"></app-autocomplete>
    </td>
    <td *ngIf="models.length || model">
      <app-autocomplete [value]="model" placeholder="Model" [options]="models" (onSelected)="onModelSelected($event)"></app-autocomplete>
    </td>
  </tr>
</table>
<div class="clearfix"></div>
<app-spinner *ngIf="isLoading"></app-spinner>
<md-error *ngIf="notFound">
  <div>Sorry, we could not find any information matching your selections</div>
</md-error>
<app-vehicle-fuel-details [vehicles]="vehicles"></app-vehicle-fuel-details>