<h4 class="title">We've found the vehicle with the following information:</h4>

<md-card class="vehicle-card">
  <md-card-header>
    <md-card-title>{{ vehicle["Make"] }}</md-card-title>
    <md-card-subtitle>{{ vehicle["Model"] }} {{ vehicle["ModelYear"] }}</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <md-list>
      <md-list-item *ngFor="let p of vehicleProperties"> 
        <title md-line>{{p.label}}</title>
        <p md-line>{{ vehicle[p.prop] || "Not Applicable" }}</p>
      </md-list-item>
     </md-list>
  </md-card-content>
  <md-card-actions>
    <button md-raised-button (click)="showRecalls()">View Recalls Information</button>
    <button md-raised-button (click)="showFuelConsumptions()">View Fuel Consumption</button>
  </md-card-actions>
</md-card>